@charset "UTF-8";
@import "variables";


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  a{
    text-decoration: none;
  }
}
main {
  width: 100%;
  @media only screen and (min-width: $breakLarge) {
      width: 80%;
      margin-left: 10%;
  }
}
#first {
  opacity: 0;
}
#first.animateMe {
  animation: Fade 3s linear 1s forwards;
}

#second {
  opacity: 0;
}

#second.animateMe {
  animation: Fade 2s linear 1s forwards;
}

#third {
   opacity: 0;
 }

#third.animateMe {
  animation: Fade 2s linear 1s forwards;
}

#fourth {
  opacity: 0;
}

#fourth.animateMe {
  animation: Fade 2s linear 1s forwards;
}


.ownerSection {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: -5px;
  text-align: center;
  h1 {
    margin: 0;
    margin-bottom: 38px;
    font-size: 36px;
    font-weight: 100;
    color: $titleColor;
    @media only screen
    and (min-width: $breakMedium) {
      font-size: 48px;
    }
  }
  p {
    font-size: 16px;
    color: $paragraphColor;
    margin-left: 10%;
    width: 80%;
    line-height: 1.75;
    font-weight: 100;
    @media only screen
    and (min-width: $breakMedium) {
      width: 65%;
      margin-left:17.5%;
    }
  }
  img{
    margin-bottom: 40px;
  }
}
#img1{
  width: 60%;
  @media only screen and (min-width: $breakMedium) {
    width: 30%;
    margin-bottom: 150px;

  }
}
#certifikat {
  display: none;
  @media only screen and (min-width: $breakMedium) {
    display: inline-block;
    margin-left: 10%;
    margin-bottom: 100px;
    width: 20%;
  }
}

.natureImg {
  width: 100%;
  margin-top: -20px;
}
@media only screen and (min-width: $breakMedium) {
  #mainText:after {
    content: "U današnjem užurbanom svijetu utemeljenom na dvojbenim vrijednostima, čovjekova istinska bit potpuno je zanemarena. Živjeti uravnoteženo, a time i zdravo, poštujući zakone prirode i univerzalni sklad čiji je čovjek neraskidivi dio, predstavlja pravi izazov. ";
  }
  #metodaText:after {
    content: "Terapija ima cjelovit, sveobuhvatan i blagotvoran učinak na čovjeka te pomaže u psihofizičkom iscjeljenju i u krajnjem cilju – poboljšanju kvalitete života. 
    Sve što živi (čovjek, životinja ili biljka) posjeduje bioenergiju. Do bolesti dolazi kad je ona u disbalansu ili je blokirana u svom prirodnom stanju ili protoku. Za uspostavu prirodnog stanja i protoka bioenergije pobrinut će se iskusni bioterapeuti.";
  }
  #bioenergijaText:after {
    content: "Došlo se najzad do subatomskih čestica i otvorio se jedan tajanstveni svijet u kome je sve vibriralo
     na finijim razinama, u čistoj energiji. Mi smo energija, naš je svijet energija, i naša misao, i djela, sve ono što
      jesmo, mislimo ili činimo, vibrira finim vibracijama izvan dosega naših fizičkih čula. Univerzum je velika Misao,
       a čovjek je njen dio. Moderni kvantni znanstvenici rekli bi da je sve val, frekvencija, a materijalni svijet samo
        je gruba slika, hologram u jednom velikom energetskom polju.
";
  }
  #omeniText:after {
    content:"Vezano za to, završila sam mnoge seminare, tečajeve, učenja i razne tipove edukacija..
    Nakon svih do sada stečenih znanja i spoznaja najdublju povezanost osjećam  s bioterapeutskim iscjeljivanjem po metodi
    Zdenka Domančića.
    Sada, nakon kompletne edukacije iz tog područja i stjecanja statusa licenciranog terapeuta, s velikim poštovanjem
    i posvećenošću rado pomažem svima koji žele i trebaju pomoć.";
  }

}

