@charset "UTF-8";
@import "variables";
@import "mixins";
@import "fonts";


img {
  max-height: 650px;
}
body {
  margin:0;
  a{
    text-decoration: none;
  }
}

#first {
  opacity: 0;
  padding-top: 50px;

  h1 {
    margin-top: 0;
  }
}
#first.animateMe {
  animation: Fade 2s linear forwards;
}

#second {
  opacity: 0;
  padding-top: 0;
}

#second.animateMe {
  animation: Fade 2s linear forwards;
}

#third {
  padding-top: 0;
   opacity: 0;
 }

#third.animateMe {
  animation: Fade 2s linear forwards;
  margin-bottom: 40px;
}



.ownerSection {
  text-align: center;
  h1 {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
    margin-top: 50px;
    font-weight: 100;
  }
  p {
    font-size: 16px;
    text-align: justify;
    color: $paragraphColor;
    margin-left: 10%;
    width: 80%;
    line-height: 1.75;
    font-weight: 300;
    @include medium {
      width: 65%;
      margin-left:17.5%;
    }
  }
  a {
    display: block;
    font-size: 18px;
    color: $linkColor;
    margin-top: 50px;
    margin-left: 10%;
    width: 80%;
    line-height: 1.75;
    font-weight: 100;
  }
  a:hover {
    border-radius: 4px;
    background: $linkColor;
    color:$white;
    span {
      color: $white;
    }
  }
}
#img1{
  width: 60%;
  @include medium {
    width: 30%;
    margin-bottom: 150px;

  }
}
#certifikat {
  display: none;
  @include medium {
    display: inline-block;
    margin-left: 10%;
    margin-bottom: 100px;
    width: 20%;
  }
}

.natureImg {
  width: 100%;
  margin-top: -20px;
  @include medium {
    width: 65%;
  }
}
@include medium {
  #mainText:after {
    content: "";
  }
  #metodaText:after {
    content: "Terapija ima cjelovit, sveobuhvatan i blagotvoran učinak na čovjeka te pomaže u psihofizičkom iscjeljenju i u krajnjem cilju – poboljšanju kvalitete života. 
    Sve što živi (čovjek, životinja ili biljka) posjeduje bioenergiju. Do bolesti dolazi kad je ona u disbalansu ili je blokirana u svom prirodnom stanju ili protoku. Za uspostavu prirodnog stanja i protoka bioenergije pobrinut će se iskusni bioterapeuti.";
  }
  #bioenergijaText:after {
    content: "";
  }
  #omeniText:after {
    content:"";
  }

}
#licencaDiv {
  text-align: center;
  .vlastaPhoto,.licencaPhoto {
    width: 90%;
  }
  .licencaLink {
    margin:0;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
    width: 100%;
  }
  .licencaLink:hover {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: $white;
  }
  @media only screen and (min-width: 500px) {
    .vlastaPhoto {
      width: 60%;
      display: block;
      margin-left: 20%;
    }
    .licencaPhoto {
      width: 60%;
    }
  }
  @include medium {
    img {
      display: inline-block;
    }
    .licencaLink {
      font-size: 20px;
      width: 50%;
      margin-left: 25%;
    }
    .vlastaPhoto {
      margin-left: 0;
      display: inline-block;
      width: 300px;
      margin-right: 5%;
      margin-bottom: 100px;
    }
    .licencaPhoto {
      width: 310px;
      margin-right: 0;
      margin-bottom: 100px;
    }
  }
}

.crveniSpan {
  color: red;
}

.title {
  text-align: center;
  font-weight: 100;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 38px;
  margin-top: 50px;
  font-size: 30px;
  color: #45464c;
  @include medium(){
    font-size: 40px;
  }
}

.omeniDiv {
  margin-bottom: 50px;
}


