@import 'variables';


#imgDiv {
  position: relative;
  width: 100%;
  img {
    width: 100%;
  }
  h1 {
    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: 50px;
    color: #fff;
  }
  h1.animateMe {
    animation: Fade 3s linear 1s;
  }
}

.accordion {
  height: 60px;
  clear: both;
  margin-bottom: 1px;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  transition: 0.5s;
  @media only screen and (min-width: $breakMedium) {
    width: 100%;
  }
}

.accordion.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2212";
}

.panel {
  clear: both;
  box-sizing: border-box;
  margin-bottom: 1px;
  margin-right: 0;
  text-align: left;
  padding: 0 8px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  @media only screen and (min-width: $breakMedium) {
    width: 100%;
  }
  p {
    text-align: justify;
    width: 90%;
    margin-left: 5%;
    line-height: 1.75;
    color: $paragraphColor;
  }
}
.firstColumn, .secondColumn {
  @media only screen and (min-width: $breakMedium) {
    width: 49%;
    margin-left: 0.6666%;
    display: inline-block;
    float: left;
  }
}

.firstSecond {
  float: left;
}




//.div1 {
//
//  @media only screen and (min-width: $breakMedium) {
//    display: inline-block;
//    width: 49%;
//    margin-left: 0.5%;
//  }
//}
//@media only screen and (min-width: $videoMax) {
//
//  .div1:nth-child(odd) {
//    margin-left: 1.5%;
//  }
//  .div1:nth-child(even) {
//    margin-left: 0;
//  }
//  .div1:last-child {
//    margin-bottom: 60px;
//  }
//
//}
.title {
  text-align: center;
  font-weight: 100;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 38px;
  font-size: 36px;
  color: $titleColor;
  @media only screen
  and (min-width: $breakMedium) {
    font-size: 48px;
  }
}