@font-face {
  font-family: 'montserratlight';
  src: url('../fonts/Montserrat-Light.eot') format('eot'),
  url('../fonts/Montserrat-Thin.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;

}

* {
  font-family: 'montserratlight', sans-serif;
}