@import "variables";


@keyframes Fade {
    0% {opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
  }

@keyframes FadeHeaderColor {
  0% {background: rgba(63, 72, 79, 0)}
  25% {background: rgba(63, 72, 79, 0.25)}
  50% {background: rgba(63, 72, 79, 0.5)}
  75% {background: rgba(63, 72, 79, 0.75)}
  100% {background: rgba(63, 72, 79, 1)}
}
