@import "variables";

@mixin headerImageMixin($image) {
  background-image: url($image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  @media only screen and (min-width: $breakMedium) {
    height: 650px;
  }
}


@mixin small() {
  @media only screen and (min-width: $breakSmall) {
    @content;
  }
}

@mixin medium() {
  @media only screen and (min-width: $breakMedium) {
    @content;
  }
}

@mixin large() {
  @media only screen and (min-width: $breakLarge) {
    @content;
  }
}
