@import "variables";
@import "frames";

header {
  position: fixed;
  background: $headerBackgroundTreehouseTransparent;
  cursor: pointer;
  width: 100%;
  z-index: 1000;
  transition: all 1s;
  @media only screen and (min-width: $videoMax) {
    width: 80%;
    margin-left: 10%;
  }
}

.logoDiv {
  @media only screen and (min-width: $breakMedium) {
    width: 15%;
    display: inline-block;
  }
}

.navDiv {
  @media only screen and (min-width: $breakMedium) {
    width: 81%;
    margin-left: 2%;
    display: inline-block;
    text-align: center;
  }
}
nav {
  img {
    margin-top: 5px;
    margin-left: 5px;
    width: 100px;
    border-radius: 3px;
    @media only screen and (min-width: $breakSmall) {
      width: 120px;
    }
  }
  h1 {
    color: $white;
    display: none;
    @media only screen and (min-width: $breakMedium) {
      display: block;
      margin: 0;
    }
  }
  ul {
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    display: none;
    text-align: center;
    @media only screen and (min-width: $breakMedium) {
      margin-bottom: 0;
      margin-top: 5px;
      display: flex;
      justify-content: space-around;
    }
  }
  li {
    margin-bottom: 10px;
    @media only screen and (min-width: $breakMedium) {
      display: inline-block;
      margin-right: 7px;
    }
    a {
      font-size: 20px;
      color: $headerLinksTreehouse;
      @media only screen and (min-width: $breakMedium) {
        font-size: 17px;
      }
    }
  }
}
.darkHeader {
  background-color: $headerBackgroundTreehouse;
  transition: all 1s;
}


#nav-icon {
  z-index: 10000;
  width: 30px;
  height: 15px;
  top: 15px;
  right: 10px;
  float: right;
  position: absolute;
  -webkit-transform:rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  @media only screen and (min-width: $breakMedium) {
    display: none;
  }
}
#nav-icon span {
  display: block;
  position: absolute;
  width:100%;
  height: 4px;
  background: $white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon span:nth-child(1) {
  top: 0;
}
#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 9px;
}
#nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}
#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

