@import "variables";
@import "frames";

header {
  color: $white;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  position: fixed;
  cursor: pointer;
  width: 100%;
  z-index: 1000;
  transition: all 1s;
  @include medium {
    height: 100px;
  }
  a { color: inherit; }
}

.logoDiv {
  @include medium {
    width: 25%;
    display: inline-block;
    height: 100px;
  }
  @media only screen and (min-width: 1000px) {
    width: 15%;
  }
}

.navDiv {
  box-sizing: border-box;
  @include medium {
    padding-top: 10px;
    position: absolute;
    top:0;
    width: 68%;
    margin-left: 7%;
    display: inline-block;
    text-align: center;
    height: 100px;
  }
  @media only screen and (min-width: 960px) {
    margin-left: 5%;
  }
  @media only screen and (min-width: 1000px) {
    margin-left: 10%;
    width: 75%;

  }
  @media only screen and (min-width: 1200px) {
    margin-left: 7%;
  }
}
nav {
  @include medium {
    height: 100px;
  }
  img {
    width: 150px;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 0px;

    @include medium {
      margin-top: 0;
      margin-left: 0;
      width: 246px;

    }
  }
  h1 {
    display: none;
    @include medium {
      display: block;
      margin: 0;
    }
  }
  ul {
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    display: none;
    text-align: center;
    @include medium {
      margin-bottom: 0;
      margin-top: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

    }
    @media only screen and (min-width: 900px) {

    }
    @media only screen and (min-width: 960px) {
      margin-top: 15px;
    }
    @media only screen and (min-width: 1000px) {
      justify-content: space-between;
    }
  }
  li {
    margin-bottom: 10px;
    @include medium {
      display: inline-block;
      margin-right: 15px;
    }
    @media only screen and (min-width: 900px) {
      margin-right: 8px;
    }
    a {
      font-size: 20px;
      @include medium {
        font-size: 16px;
      }
      @media only screen and (min-width: 1000px) {
        font-size: 18px;
      }

    }
  }
}
.darkHeader {
  background-color: $headerBackgroundTreehouse;
  transition: all 1s;
}


#nav-icon {
  z-index: 10000;
  width: 30px;
  height: 15px;
  top: 22px;
  right: 14px;
  float: right;
  position: absolute;
  -webkit-transform:rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  @include medium {
    display: none;
  }
}
#nav-icon span {
  display: block;
  position: absolute;
  width:100%;
  height: 4px;
  background: $white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon span:nth-child(1) {
  top: 0;
}
#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 9px;
}
#nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}
#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}