@import "variables";

.slideShow, .slideShow1 {
  text-align: center;
  opacity: 0;
  color: $white;
  position: absolute;
  top:40%;
  left: 5%;
  width: 90%;
  height: 250px;
  background: $headerBackground;
  @media only screen and (min-width: $breakMedium) {
    top: 35%;
    width: 350px;
  }
}

.slideShow1 {
  a {
    color: inherit;
  }
}

.slideShow.animateMe {
  animation: proba 20s linear infinite;
}

.slideShow1.animateMe {
  animation: proba 20s linear 10s infinite;
}


