//Colors
$headerBackgroundTreehouseTransparent: rgba(63, 72, 79, 0.8);
$headerBackgroundTreehouse: rgba(63, 72, 79, .9);
$headerLinksTreehouse     : #d6dfe1;
$headerBackground         : rgba(64, 64, 78, 0.5);
$titleColor               : #1e3443;
$white                    : #fff;
$hoverBackground          : rgba(255, 255, 255, 0.4);
$paragraphColor           : #2f2f2f;
$hoverParagraph           : #2E343B;
$treehouse                : #60CE80;
$treehouseRgba            : rgba(96, 206, 128, .9);
$linkColor                : #4d7fff;


//Media Queries
$breakSmall: 320px;
$breakMedium: 768px;
$breakLarge: 1024px;
$videoMax: 1200px;