//Colors

$headerBackground: rgba(64, 64, 78, 0.4);
$titleColor: #1e3443;
$white: #fff;
$paragraphColor: #798d9b;
$hoverParagraph: #2E343B;
$treehouse: #60CE80;
$treehouseRgba: rgba(96, 206, 128, .9);


//Media Queries
$breakSmall: 320px;
$breakMedium: 768px;
$breakLarge: 1024px;
