@charset "UTF-8";
@keyframes Fade {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }
@keyframes FadeOut {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }
@keyframes proba {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes Fade {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }
@keyframes FadeOut {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }
@keyframes proba {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; } }
header {
  color: #fff;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  position: fixed;
  cursor: pointer;
  width: 100%;
  z-index: 1000;
  transition: all 1s; }
  header a {
    color: inherit; }

@media only screen and (min-width: 768px) {
  .logoDiv {
    margin-top: 5px;
    width: 20%;
    display: inline-block; } }

@media only screen and (min-width: 768px) {
  .navDiv {
    position: absolute;
    top: 0;
    width: 75%;
    margin-left: 2%;
    display: inline-block;
    text-align: center; } }

@media only screen and (min-width: 768px) {
  nav {
    height: 70px; } }
nav img {
  margin-top: 5px;
  margin-left: 5px;
  width: 120px; }
  @media only screen and (min-width: 768px) {
    nav img {
      margin-top: 0;
      width: 150px; } }
nav h1 {
  display: none; }
  @media only screen and (min-width: 768px) {
    nav h1 {
      display: block;
      margin: 0; } }
nav ul {
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  display: none;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    nav ul {
      margin-bottom: 0;
      margin-top: 5px;
      display: flex;
      justify-content: space-around; } }
nav li {
  margin-bottom: 10px; }
  @media only screen and (min-width: 768px) {
    nav li {
      display: inline-block;
      margin-right: 7px; } }
  nav li a {
    font-size: 20px; }
    @media only screen and (min-width: 768px) {
      nav li a {
        font-size: 17px; } }

.darkHeader {
  background-color: rgba(63, 72, 79, 0.9);
  transition: all 1s; }

#nav-icon {
  z-index: 10000;
  width: 30px;
  height: 15px;
  top: 19px;
  right: 10px;
  float: right;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    #nav-icon {
      display: none; } }

#nav-icon span {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon span:nth-child(1) {
  top: 0; }

#nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
  top: 9px; }

#nav-icon span:nth-child(4) {
  top: 18px; }

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%; }

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%; }

#imgDivBioenergija {
  background-image: url("../img/img6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px; }
  @media only screen and (min-width: 768px) {
    #imgDivBioenergija {
      height: 650px; } }

#imgDivCestaPitanja {
  background-image: url("../img/img6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px; }
  @media only screen and (min-width: 768px) {
    #imgDivCestaPitanja {
      height: 650px; } }

#imgDivKontakt {
  background-image: url("../img/img7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px; }
  @media only screen and (min-width: 768px) {
    #imgDivKontakt {
      height: 650px; } }

#imgDivLicenca {
  background-image: url("../img/img6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px; }
  @media only screen and (min-width: 768px) {
    #imgDivLicenca {
      height: 650px; } }

#imgDivOmeni {
  background-image: url("../img/img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px; }
  @media only screen and (min-width: 768px) {
    #imgDivOmeni {
      height: 650px; } }

#imgDivOmetodi {
  background-image: url("../img/img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px; }
  @media only screen and (min-width: 768px) {
    #imgDivOmetodi {
      height: 650px; } }

#imgDivTermini {
  background-image: url("../img/img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px; }
  @media only screen and (min-width: 768px) {
    #imgDivTermini {
      height: 650px; } }

img {
  max-height: 650px; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0; }
  body a {
    text-decoration: none; }

#first {
  opacity: 0;
  margin-bottom: 40px; }

#first.animateMe {
  animation: Fade 2s linear forwards; }

#second {
  opacity: 0; }

#second.animateMe {
  animation: Fade 2s linear forwards; }

#third {
  opacity: 0; }

#third.animateMe {
  animation: Fade 2s linear forwards; }

#fourth {
  opacity: 0; }

#fourth.animateMe {
  animation: Fade 2s linear forwards; }

.ownerSection {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: -5px;
  text-align: center; }
  .ownerSection h1 {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 38px;
    font-size: 36px;
    font-weight: 100;
    color: #1e3443; }
    @media only screen and (min-width: 768px) {
      .ownerSection h1 {
        font-size: 48px; } }
  .ownerSection p {
    font-size: 16px;
    text-align: justify;
    color: #2f2f2f;
    margin-left: 10%;
    width: 80%;
    line-height: 1.75;
    font-weight: 100; }
    @media only screen and (min-width: 768px) {
      .ownerSection p {
        width: 65%;
        margin-left: 17.5%; } }
  .ownerSection img {
    margin-top: 40px;
    margin-bottom: 40px; }
  .ownerSection a {
    display: block;
    font-size: 18px;
    color: #4d7fff;
    margin-top: 15px;
    margin-left: 10%;
    width: 80%;
    line-height: 1.75;
    font-weight: 100; }
  .ownerSection a:hover {
    border-radius: 4px;
    background: #4d7fff;
    color: #fff; }

#img1 {
  width: 60%; }
  @media only screen and (min-width: 768px) {
    #img1 {
      width: 30%;
      margin-bottom: 150px; } }

#certifikat {
  display: none; }
  @media only screen and (min-width: 768px) {
    #certifikat {
      display: inline-block;
      margin-left: 10%;
      margin-bottom: 100px;
      width: 20%; } }

.natureImg {
  width: 100%;
  margin-top: -20px; }
  @media only screen and (min-width: 768px) {
    .natureImg {
      width: 65%; } }

@media only screen and (min-width: 768px) {
  #mainText:after {
    content: "U današnjem užurbanom svijetu utemeljenom na dvojbenim vrijednostima, čovjekova istinska bit potpuno je zanemarena. Živjeti uravnoteženo, a time i zdravo, poštujući zakone prirode i univerzalni sklad čiji je čovjek neraskidivi dio, predstavlja pravi izazov. "; }

  #metodaText:after {
    content: "Terapija ima cjelovit, sveobuhvatan i blagotvoran učinak na čovjeka te pomaže u psihofizičkom iscjeljenju i u krajnjem cilju – poboljšanju kvalitete života. \a     Sve što živi (čovjek, životinja ili biljka) posjeduje bioenergiju. Do bolesti dolazi kad je ona u disbalansu ili je blokirana u svom prirodnom stanju ili protoku. Za uspostavu prirodnog stanja i protoka bioenergije pobrinut će se iskusni bioterapeuti."; }

  #bioenergijaText:after {
    content: "Došlo se najzad do subatomskih čestica i otvorio se jedan tajanstveni svijet u kome je sve vibriralo\a      na finijim razinama, u čistoj energiji. Mi smo energija, naš je svijet energija, i naša misao, i djela, sve ono što\a       jesmo, mislimo ili činimo, vibrira finim vibracijama izvan dosega naših fizičkih čula. Univerzum je velika Misao,\a        a čovjek je njen dio. Moderni kvantni znanstvenici rekli bi da je sve val, frekvencija, a materijalni svijet samo\a         je gruba slika, hologram u jednom velikom energetskom polju.\a"; }

  #omeniText:after {
    content: "Vezano za to, završila sam mnoge seminare, tečajeve, učenja i razne tipove edukacija..\a     Nakon svih do sada stečenih znanja i spoznaja najdublju povezanost osjećam  s bioterapeutskim iscjeljivanjem po metodi\a     Zdenka Domančića.\a     Sada, nakon kompletne edukacije iz tog područja i stjecanja statusa licenciranog terapeuta, s velikim poštovanjem\a     i posvećenošću rado pomažem svima koji žele i trebaju pomoć."; } }
#licencaDiv {
  text-align: center; }
  #licencaDiv .vlastaPhoto {
    width: 90%; }
  @media only screen and (min-width: 768px) {
    #licencaDiv img {
      display: inline-block; }
    #licencaDiv .vlastaPhoto {
      width: 60%;
      margin-right: 5%; }
    #licencaDiv .licencaPhoto {
      width: 20%;
      margin-bottom: 100px; } }

#headerDiv {
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 650px; }

.termini {
  padding-top: 15px;
  background: rgba(8, 184, 234, 0.49);
  text-align: center; }
  .termini h1 {
    margin-top: 0; }
  @media only screen and (min-width: 768px) {
    .termini div {
      width: 80%;
      margin-left: 10%; } }
  .termini div h3:nth-child(2) {
    margin-bottom: 0;
    padding-bottom: 30px; }

@font-face {
  font-family: 'fontello';
  src: url("../fontello/font/fontello.eot");
  src: url("../fontello/font/fontello.eot") format("embedded-opentype"), url("../fontello/font/fontello.woff2?97392018") format("woff2"), url("../fontello/font/fontello.woff?97392018") format("woff"), url("../fontello/font/fontello.ttf?97392018") format("truetype"), url("../fontello/font/fontello.svg?97392018#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?97392018#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-mail:before {
  content: '\e800'; }

.icon-mobile:before {
  content: '\e801'; }

.icon-location:before {
  content: '\f031'; }

.icon-up-circled:before {
  content: '\f0aa'; }

footer {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); }
  footer h3 {
    font-weight: 300;
    color: #fff; }

footer .title2 {
  font-size: 26px; }
footer section h3 {
  margin-top: 20px;
  font-size: 15px; }

#top {
  font-size: 40px;
  color: #60CE80;
  position: fixed;
  right: 0;
  bottom: -10px; }

#imgDiv {
  position: relative;
  width: 100%; }
  #imgDiv img {
    width: 100%; }
  #imgDiv h1 {
    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: 50px;
    color: #fff; }
  #imgDiv h1.animateMe {
    animation: Fade 3s linear 1s; }

.accordion {
  height: 60px;
  clear: both;
  margin-bottom: 1px;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  transition: 0.5s; }
  @media only screen and (min-width: 768px) {
    .accordion {
      width: 100%; } }

.accordion.active, .accordion:hover {
  background-color: #ccc; }

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px; }

.accordion.active:after {
  content: "\2212"; }

.panel {
  clear: both;
  box-sizing: border-box;
  margin-bottom: 1px;
  margin-right: 0;
  text-align: left;
  padding: 0 8px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out; }
  @media only screen and (min-width: 768px) {
    .panel {
      width: 100%; } }
  .panel p {
    text-align: justify;
    width: 90%;
    margin-left: 5%;
    line-height: 1.75;
    color: #2f2f2f; }

@media only screen and (min-width: 768px) {
  .firstColumn, .secondColumn {
    width: 49%;
    margin-left: 0.6666%;
    display: inline-block;
    float: left; } }

.firstSecond {
  float: left; }

.title {
  text-align: center;
  font-weight: 100;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 38px;
  font-size: 36px;
  color: #1e3443; }
  @media only screen and (min-width: 768px) {
    .title {
      font-size: 48px; } }

.kontaktDiv {
  text-align: center;
  margin-bottom: 60px; }
  .kontaktDiv a {
    color: #1e3443; }

@media only screen and (min-width: 768px) {
  iframe {
    margin-bottom: 60px; } }

.kontakt {
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .kontakt .kontaktDiv {
      display: inline-block;
      width: 30%;
      vertical-align: top; } }
  .kontakt iframe {
    border-radius: 3px;
    width: 100%;
    height: 450px; }
    @media only screen and (min-width: 768px) {
      .kontakt iframe {
        display: inline-block;
        width: 60%;
        max-width: 600px; } }

.slideShow, .slideShow1 {
  text-align: center;
  opacity: 0;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 5%;
  width: 90%;
  height: 250px;
  background: rgba(64, 64, 78, 0.5); }
  @media only screen and (min-width: 768px) {
    .slideShow, .slideShow1 {
      top: 35%;
      width: 350px; } }

.slideShow1 a {
  color: inherit; }

.slideShow.animateMe {
  animation: proba 20s linear infinite; }

.slideShow1.animateMe {
  animation: proba 20s linear 10s infinite; }

/*# sourceMappingURL=main.css.map */
