@font-face {
  font-family: 'montserratlight';
  src: url('../fonts/Montserrat-Light.eot');
  font-weight: normal;
  font-style: normal;

}

* {
  font-family: 'montserratlight', 'Montserrat', sans-serif;
  font-weight: 300;
}
