@import "variables";


@keyframes Fade {
    0% {opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
}


@keyframes proba {
  0% { opacity: 0 }
  25% { opacity: 1 }
  50% { opacity: 0 }
  75% { opacity: 0 }
  100% { opacity: 0 }
}
